*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: rgb(3, 17, 17);
}
li{
    text-align: right;
    list-style: none;
    display: inline-block;
    padding:8px;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: rgb(204, 80, 23);
}
a:visited{
    color: deeppink;
}

a:focus{
    color: rgb(0, 255, 85);
}
a:hover{
    color: lightblue;
}    

input{
    width: 25%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    left: 65%;
    box-shadow: inset 0 0 0 2px #cec9c9;
    border-color: white;
}
img{
    position: absolute;
    left: 87%;
    width: 30px;
}
h1{
    font-size: 35px;
    padding-top: 350px;
    padding-left: 50px;
    color:darkblue;
}
span{
    color:deeppink;
}
span:hover{
    color: darkcyan;
}
section{
    background-image: url(./image/coding-gif-24.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}














